footer {
  background-color: #f2f2f2;
  padding: 2% 5%;

  & > div:first-of-type {
    @include flex(flex-start, flex-start);
    width: 100%;
    margin-bottom: 2rem;

    div {
      margin-right: 55px;
      width: 12%;

      h4 {
        font-weight: 500;
        opacity: 0.7;
        padding-bottom: 5px;
      }
    }
  }

  h6 {
    font-weight: 400;
    padding: 7px 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  & > div:last-of-type {
    @include flex(space-between, center);

    div {
      @include flex(flex-start, center);

      button {
        background: none;
        border: none;
        font-size: 1.25rem;
        opacity: 0.5;
        margin-right: 1rem;
      }
    }

    ul {
      list-style-type: none;
      @include flex(flex-start, center);

      h6 {
        padding: 0 10px;
      }
    }
  }
}
