.intro {
  background: url("../../images/introImg.png") no-repeat;
  background-size: 100%;
  @include flex(center, flex-start);
  height: 550px;
  max-width: $maxWidth;
  margin: 0 auto;
  color: #fff;
  flex-direction: column;
  padding: 0 5%;
  cursor: pointer;

  h1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    max-width: 550px;
    margin-top: -5rem;
  }

  p {
    max-width: 550px;
    padding: 20px 0;
  }

  button {
    background: #fff;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    padding: 10px 20px;

    a {
      color: #000;
      text-decoration: none;

      &:hover:not(span) {
        border-bottom: 3px solid black;

        span {
          margin: 0 5px;
          transition: all 500ms ease;
        }
      }
    }
  }
}
