.mobile {
  background: url("../../images/mobile.jpg") no-repeat;
  background-size: 100%;
  @include flex(center, flex-start);
  flex-direction: column;
  height: 550px;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 5%;
  cursor: pointer;

  h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: -5rem;
  }

  p {
    padding: 10px 0 20px 0;
  }

  button {
    background: #000;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    padding: 10px 20px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        border-bottom: 3px solid #fff;

        span {
          margin: 0 5px;
          transition: all 500ms ease;
        }
      }
    }
  }
}
